*{
    font-family: 'Roboto';
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #F4F6FC;
}
h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
}
p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
}

div{
  box box-sizing: border-box;
}



.topnav{
  position: static;
  margin: 40px 8% 40px 8%;
  text-align: center;
}

.topnav a {
    margin-top: 40px;;
    color: #333333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 6px;
    margin: auto;
  }

   .topnav a:hover {
    border-radius: 6px;
    box-shadow: inset 0 0 0 2px #072Ac8;
    font-weight: 900;
  } 

  .topnav a.active {
    background-color: #072Ac8;
    color: white;
  }

  .logo {
    width: 100px;
    height: auto;
    float: left;
    margin-top: -8px;
  }

  a.ContactUs {
    float: right;
    color: #072Ac8;
    background: transparent;
    border: 2px solid #072Ac8;
    border-radius: 6px;
    font-size: 17px;
    margin-top: -15px;

  }
  .ContactUs:hover {
    background-color: #072Ac8;
    color: white;
}

.mainInfo {
  margin: 40px 8% 40px 8%;
}

span{
  padding-left: 30px;
}

.mainInfo {
  margin-top: 200px;
}

a.getInTouch {
  color: #072Ac8;
  background: transparent;
  border: 2px solid #072Ac8;
  border-radius: 6px;
  font-size: 17px;
  padding: 14px 16px;
  text-decoration: none;
}
  a.getInTouch:hover {
    background-color: #072Ac8;
    color: white;
}

.hero {
  width: 600px;
  height: auto;
  float: right;
  margin-top: -550px;
  margin-right: 8%;
}

.tarjeta1 {
  width: 450px;
  height: auto;
  float: right;
  margin-top: -600px;
  margin-right: -20%;
  background-color: transparent;
}

.tarjeta2 {
  width: 350px;
  height: auto;
  float: right;
  margin-top: -100px;
  margin-right: -47%;
  background-color: transparent;
}

.logos {
  text-align: center;
  
}
.marca {
  padding: 30px;
  width: auto;
  -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}